.cart-menu {
  position: absolute;
  top: 30px;
  left: -300px;
  width: 400px;
  padding: 10px 20px;
  z-index: 2;
  background-color: rgb(36, 37, 41);
}

.cart-menu__arrange {
  margin-top: 20px;
  padding: 20px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
}

.cart-menu__total-price {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

@media screen and (max-width: 500px) {
  .cart-menu {
    width: 300px;
    left: -215px;
  }
}

@media screen and (max-width: 400px) {
  .cart-menu {
    width: 220px;
    left: -165px;
  }
  .cart-menu__arrange {
    margin-top: 10px;
    padding: 10px 0;
  }
}

@media screen and (max-width: 350px) {
  .cart-menu {
    left: -125px;
  }
  .cart-menu__arrange {
    margin-top: 0;
  }
}
