.order-item {
  display: flex;
  margin-bottom: 30px;
}

.order-item__cover {
  width: 200px;
  margin-right: 30px;
}

.order-item__title {
  font-size: 24px;
  font-weight: bold;
}

.order-item__price {
  display: flex;
  font-size: 24px;
  font-weight: bold;
  margin-left: auto;
}

.cart-item__delete-icon {
  margin-left: 5px;
  cursor: pointer;
  transition: 0.5s ease;
}

.cart-item__delete-icon:hover {
  transform: scale(1.1);
  color: #dd1414;
}

@media screen and (max-width: 820px) {
  .order-item__title {
    font-size: 18px;
  }
  .order-item__price {
    font-size: 16px;
    margin-left: 10px;
  }
}

@media screen and (max-width: 520px) {
  .order-item {
    flex-direction: column;
    align-items: center;
  }
  .order-item__cover {
    margin-right: 0;
  }
}
