.game-genre {
  padding: 2px 5px 4px;
  font-size: 13px;
  border-radius: 10px;
  background-color: rgb(80, 82, 84);
}

.game-genre:not(:last-child) {
  margin-right: 7px;
}

@media screen and (max-width: 440px) {
  .game-genre {
    font-size: 11px;
    margin-top: 10px;
  }
}
